[["teekay-site-1" :site/url "https://www.teekay.com" 1 :add]
 ["teekay-site-1" :site/checked-at "2026-07-18" 1 :add]
 ["teekay-site-1" :site/http-status 200 1 :add]
 ["teekay-site-1" :site/title "Teekay" 1 :add]
 ["teekay-site-1" :site/description "Teekay has developed from a regional shipping company into one of the world’s largest marine energy transportation, storage &amp; production companies." 1 :add]]
